LeftNavbar.css

.left-navbar {
    top:0;
    width:0;
    height:0;
    background-color: #333;
    padding-top: 20px;
    position: left;
}

.left-navbar ul {
    list-style-type: none;
    padding:0;
    float: left;
}

.left-navbar li {
    padding:10px;
    color:white;
    cursor:pointer;
}

.left-navbar li:hover {
    background-color:#0e4a60;
}